.white-bg.landing-page
  .navbar-wrapper.nav
    = render 'shared/media_menu'

%section.articlePress
  .titleArticle
    %h1  Hoe kan jij je eigen T-shirt business opzetten? Met Teezily natuurlijk!
    %p  Sep 17, 2014
  .article
    %p.title Inleiding
    %p T-shirt marketing is HOT, vooral in het buitenland. Er komen steeds meer bedrijven met een alles-in-1 oplossing voor de moderne ondernemer. Dit artikel is geschreven om mijn eigen ervaringen met het platform van Teezily te delen, hoe werkt het, waar moet je beginnen en wat kan je doen ter promotie? Lees snel verder en ik vertel je alles over Teezily. Begin vandaag ook nog met het creëren van jouw eerste t-shirt op Teezily.
    %p Teezily heeft enige tijd geleden besloten om hun assortiment uit te breiden naar Europa! Teezily is een Franse start-up welke misschien het beste te omschrijven is als een Europese versie van Teespring. Laats genoemde heeft dit jaar net een kapitaal injectie gehad van maar liefst 20 miljoen euro! Teespring is erg bekend vooral buiten Nederland en diverse mensen hebben hier geweldige campagnes opgezet voor goede doelen, projecten etc.
    %p Eerder dit jaar heeft Teezily al uitgebreid naar Engeland, Duitsland en deze week was Nederland aan de beurt. Wat inhoud dat de website geheel vertaald is naar het Nederlands.
    %p.title Wat is Teezily?
    %p Teezily is de beste manier om aangepaste T-shirts en kleding online te ontwerpen en te verkopen. Het is een continue groeiend e-commerce platform, die jou in staat stelt om een eigen “crowdfunding” campagne op te stellen. Volgens Charles Dilasser, mede-oprichter en CEO: “Teezily is gericht op het wegnemen van alle toegangsbelemmeringen, zodat iedereen zijn/haar idee makkelijk tot leven kan brengen.”
    %p Zij bieden het platform, jij komt met het idee..
    %p Het belangrijkste doel van Teezily is om de verkoop van t-shirts aantrekkelijker te maken voor consumenten, zonder dat hierbij stil gestaan hoeft te worden bij logistieke uitdagingen.
    %p.title Hoe werkt Teezily?
    %p Het is eigenlijk erg simpel. Je meldt je aan voor een nieuw account op http://www.Teezily.com. Voordat je dit doet, klik voor de zekerheid op het Nederlandse vlaggetje onderin de pagina:
    %p LET OP! Je kunt ook ZONDER Account beginnen. Dan wordt na het aanmaken van de campagne gevraagd om je gegevens op te geven. Dit is vooral handig als je eerst wilt kijken wat het allemaal inhoud.
    %p Wanneer je een nieuw account aan wilt maken op Teezily, wordt er gevraagd om een gebruikersnaam, wachtwoord en een e-mailadres. Nadat jij deze hebt ingevuld, zal je een bevestiging in je mail ontvangen. Je klikt op de link in deze email en je bent direct aangemeld. Hierna kun je ook direct beginnen met je eigen online campagne. En zoals onderstaande afbeelding ook aantoont, kan je dit in 3 simpele stappen doen:
    %p Kies voor “Start een Campagne” en je zult in “Teezilab” uitkomen. Dit is Teezily’s eigen bewerkingstool. Deze werkt overigens super, zelfs op mobiel en tablets. Uitlijningen worden goed aangegeven, zodat je zeker weet dat de teksten en afbeeldingen goed uitgelijnd zijn. Zie onderstaand voorbeeld van Teezilab;
    %p.title Toelichting op bovenstaande afbeelding:
    %p 1. Je kiest eerst een product. Hiermee wordt bedoeld, dat je een type shirt uitkiest. Je kunt kiezen uit hoodies, t-shirts, v-necks, tank tops of truien.
    %p 2. Vervolgens kun je met Teezilab je teksten toevoegen (keuze uit diverse lettertypen/fonts). Of een afbeelding uploaden. Zorg er wel voor dat de resolutie van de afbeelding goed is!
    %p 3. Je ziet een bedrag staan. Dit betreft de eenheidsprijs als er 50 producten worden verkocht. Als je een verkoop doel zou stellen van bijvoorbeeld 10 of 15, dan zal dit bedrag iets hoger uitvallen. Zie ook punt 5;
    %p 4. In Teezilab zie je dat alles te bewerken is. Zo kan je de afbeeldingen en teksten groter of kleiner maken, verplaatsen, kleuren geven en nog veel meer. Experimenteer vooral voordat je je eerste campagne live zet. Daarnaast kan je achteraf nog altijd de campagne bewerken.
    %p 5. Extra mogelijkheden om bijvoorbeeld te centreren, draaien, tekstvlak en meer. Allemaal extra hulp middelen voor een gaaf design.
    %p 6. Alle mogelijke kleuren. Maak een keuze in de kleuren die passen bij jouw ontwerp of doelgroep of misschien wel afgestemd op de huisstijl van jouw bedrijf!
    %p.title De Volgende Stap (2)
    %p Wanneer je klaar bent met jouw ontwerp/design kan je kiezen voor de volgende stap (stap 2 van 3). In deze stap ga je je doelstelling opgeven, je zogenaamde “Verkoopdoel“. Minimaal vereist is 10 exemplaren en je kan maximaal wel 1000 selecteren. Maar pas hierbij wel op dat je realistisch blijft! Mijn advies hierbij zou zijn, analyseer je doelgroep erg goed voordat je begint. En onthoud: “less is more”..
    %p Bij de doelstelling wordt ook aangegeven wat de verwachte winst is, welke valuta (euro, dollar, pond) er gehanteerd wordt en je kunt eventueel nog meer producten toevoegen.
    %p.title Mijn eigen Producten zover
    %p Zelf ben ik al wat langer geïnteresseerd in diverse crowdfunding platformen, zoals Teezily, Teespring en Spreadshirt. Hierdoor had ik mij aangemeld voor diverse Facebook groepen (ook een erg goede tip) die over het onderwerp “tee marketing’ gaan. Hiermee wordt de T-shirt marketing industrie bedoeld. Omdat ik mij had aangemeld voor diverse groepen kwam ik in contact met Ilse. Ilse is een medewerker van Teezily die er is om jou te helpen met al je vragen en/of onduidelijkheden. Ze is erg vriendelijk en denkt graag met je mee. Je kunt haar vinden via Facebook op de naam “Ilse Teezily“.
    %p.title De Zwarte Piet Discussie
    %p Het zal aan niemand voorbij zijn gegaan, dat drie jaar geleden een discussie op gang werd gebracht door Quinsy Gario. Quinsy heeft Theater-, Film- en Televisie wetenschap gestudeerd aan de Universiteit Utrecht. Drie jaar geleden is hij begonnen met zijn project “Zwarte Piet is Racisme“. Je kunt je misschien voorstellen dat dit een aardige discussie teweeg bracht en dat zijn stelling ervoor zorgde dat er twee kampen ontstonden (zoals dat vaak het geval is). Waarbij er voorstanders zijn van zwarte piet en natuurlijk aan de andere kant tegenstanders. In dit artikel ga ik verder niet in op deze discussie, maar vooral op dit onderwerp. Binnen no-time werd er namelijk een Facebook Pagina opgericht genaamd “Pietitie”. Deze heeft inmiddels meer dan 2 miljoen likes ontvangen. En de discussie is nog lang niet over, gezien de heer Wilders nu een aparte “Pietenwet” wil.
    %p Wat ik met bovenstaande eigenlijk alleen maar wil aangeven, bovenstaande leeft natuurlijk enorm in de Nederlandse maatschappij en inmiddels ver daarbuiten. Daarom leek het mij een geschikt onderwerp om mee te starten op Teezily. Kijk voor de gein eens op hashtag “#pietitie” en verbaas je vooral.. :-) Inmiddels hebben zelfs bedrijven als Fisher Price, V&D, Jamin, Hema en meer al aangegeven vanaf volgend jaar een ander assortiment te gaan voeren. Hierop reageren mensen weer met de “Hema boycot”. Zie “#HemaBoycot” op Twitter.
    %p Welke stappen heb ik gezet voor mijn campagne:
    %p In het begin van deze week heb ik vooral gekeken welke Facebook groepen er allemaal bestaan rond dit onderwerp. Ik heb een beetje research gedaan via Google (Google trends, zoekwoorden tool), Facebook en Twitter.

  = render 'shared/footer'

  - if Rails.env != 'test'
    :javascript
      new WOW().init();